.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.input {
    width: 250px;
    height: 30px;
    border: 2px solid yellow;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    text-align: center;
}

.input:focus{
    border: 5px solid yellow;
    box-shadow: 1px 1px 10px 0 yellow;
}

.input::placeholder {
    color: black;
    font-size: 15px;
    
}


.ol {
    width: 380px;
    color: white
}

.li {
    width: 330px;
    border-bottom: 1px solid rgb(105, 105, 103);
    padding: 10px 0px;
}

.span_name{
    color: rgb(153, 154, 155);
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    
}

.span_price {
    font-size: 20px;
    font-weight:600;
    color: white;
    padding-left: 145px;

}
